.DS_Store
*.gem
*.rbc
.bundle
.config
.yardoc
.inch
Gemfile.lock
InstalledFiles
_yardoc
coverage
docs/_build*
doc/
docs/_build
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
_img
samples/_img
samples/_output/*.png
samples/_output/*.pdf
samples/_output/foo
samples/**/_output/*
rubocop.txt
benchmarks/_output/*.png
benchmarks/_output/*.pdf
benchmarks/_output/
samples/_output/*.svg
*.sublime-workspace
spec/samples/sanity.html
spec/samples/_diffs/*.png
.byebug_history
