[submodule "samples/intro"]
    path = samples/intro
    url = https://gist.github.com/5026392a419124312cb7.git

[submodule "samples/images"]
	path = samples/images
	url = https://gist.github.com/00ba7eb0aa1d82140503.git

[submodule "samples/text"]
	path = samples/text
	url = https://gist.github.com/52d7b8e332194946bc69.git

[submodule "samples/autoscale_font"]
	path = samples/autoscale_font
	url = https://gist.github.com/andymeneely/a4536fff0f3dc5d59c66

[submodule "samples/publishers"]
	path = samples/publishers
	url = https://gist.github.com/andymeneely/799c8c1c3521ea72390c
