[submodule "samples/intro"]
	path = samples/intro
	url = https://gist.github.com/5026392a419124312cb7.git
[submodule "samples/text"]
	path = samples/text
	url = https://gist.github.com/52d7b8e332194946bc69.git
[submodule "samples/shapes"]
	path = samples/shapes
	url = https://gist.github.com/59089c972b8b0e5d7e76598010e69291.git
[submodule "samples/data"]
	path = samples/data
	url = https://gist.github.com/6f89115805e205c647a779b7b4866151.git
