version: '{build}'

skip_tags: true

environment:
  matrix:
    - ruby_version: "23"
    - ruby_version: "23-x64"

install:
  - SET PATH=C:\Ruby%ruby_version%\bin;%PATH%
  - ruby --version
  - gem --version
  - gem install bundler --quiet --no-ri --no-rdoc
  - bundler --version
  - bundle install

test_script:
  - rake

artifacts:
  - path: pkg\*.gem

build: off
