@import url("theme.css");

/* Can add custom styling here */
.attribution{
  text-align: right;
}

code.literal span.pre{
  color: black;
}

code.code_img{
  width: 50%;
}

code.code_img_small{
  width: 33%;
}
