@import url("theme.css");

/* Can add custom styling here */
.attribution{
  text-align: right;
}

code.literal span.pre{
  color: black;
}

code.code_img{
  width: 50%;
}

code.code_img_small{
  width: 33%;
}

.figure{
  border: 1pt solid black;
  box-shadow: 5px 5px 8px #333;
}
