<html>
	<head>
		<meta name="viewport" content="width=device-width">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Squib Sanity Test for v<%=Squib::VERSION%></title>
		<style>
			body{
				background-color: #dedede;
				font-color: white;
			}
			table, td, tr{
				border: 1px solid black;
				border-collapse: true;
			}
			img{
				width: 30%;
			}
		</style>
	</head>
<body>
	<% count = 0 %>
	<% images.each do |exp, actual| %>
		<img src="<%=exp %>">&nbsp;
		<img src="<%=actual %>">&nbsp;
		<br>
		<%=exp %>
		<hr>
		<% count += 1 %>
	<% end %>
	</table>
<body>
</html>